## Analyze whether SNWD varies more from year to year or from place to place.

In [1]:
import pandas as pd
import numpy as np
import urllib
import math

In [2]:
import findspark
findspark.init()

from pyspark import SparkContext
#sc.stop()
sc = SparkContext(master="local[3]",pyFiles=['lib/numpy_pack.py','lib/spark_PCA.py','lib/computeStats.py'])

from pyspark import SparkContext
from pyspark.sql import *
sqlContext = SQLContext(sc)

In [3]:
import sys
sys.path.append('./lib')

import numpy as np
from numpy_pack import packArray,unpackArray
from spark_PCA import computeCov
from computeStats import computeOverAllDist, STAT_Descriptions

In [4]:
### Read the data frame from pickle file

data_dir='../../Data/Weather'
file_index='BSSSBSBB'#'BBBSBBBB'
meas='SNWD'

from pickle import load

#read statistics
filename=data_dir+'/STAT_%s.pickle'%file_index
STAT,STAT_Descriptions = load(open(filename,'rb'))
print('keys from STAT=',STAT.keys())

#!ls -ld $data_dir/*.parquet

#read data
filename=data_dir+'/decon_%s_%s.parquet'%(file_index,meas)

df=sqlContext.read.parquet(filename)
print(df.count())
df.show(2)

('keys from STAT=', ['TMIN', 'TOBS', 'TMAX', 'SNOW', 'SNWD', 'PRCP'])
91
+-------------------+----------------+-------------------+---------+--------+--------+---------+-----------+------------------+--------------------+--------------------+------------------+-----------+---------+------+--------------------+------+
|            coeff_1|         coeff_2|            coeff_3|elevation|   label|latitude|longitude|measurement|             res_1|               res_2|               res_3|          res_mean|    station|total_var|undefs|              vector|  year|
+-------------------+----------------+-------------------+---------+--------+--------+---------+-----------+------------------+--------------------+--------------------+------------------+-----------+---------+------+--------------------+------+
|-0.9799956885752188|74.7115835833705|0.11232650607835276|     71.6|BSSSBSBB| 32.0289| -87.3167|       SNWD|0.9998279762826575|2.164684300841072...|1.938686351275991...|0.9665688998072985|USC00011301|   5776.0|     0|[C0 54 00 00 00 0...|1964.0|
|-0.9799956885752188|74.7115835833705|0.11232650607835276|     51.8|BSSSBSBB| 31.6508| -87.7097|       SNWD|0.9998279762826575|2.164684300841072...|1.938686351275991...|0.9665688998072985|USC00018867|   5776.0|    30|[C0 54 00 00 00 0...|1964.0|
+-------------------+----------------+-------------------+---------+--------+--------+---------+-----------+------------------+--------------------+--------------------+------------------+-----------+---------+------+--------------------+------+
only showing top 2 rows

In [5]:
print df.columns

['coeff_1', 'coeff_2', 'coeff_3', 'elevation', 'label', 'latitude', 'longitude', 'measurement', 'res_1', 'res_2', 'res_3', 'res_mean', 'station', 'total_var', 'undefs', 'vector', 'year']

In [11]:
#extract longitude and latitude for each station
feature='coeff_1'
sqlContext.registerDataFrameAsTable(df,'weather')
#Features=', '.join(['coeff_1', 'coeff_2', 'coeff_3', 'elevation', 'latitude', 'longitude',\
#          'res_1', 'res_2', 'res_3', 'res_mean', 'year'])
Features='station, year, coeff_2'
Query="SELECT %s FROM weather"%Features
print(Query)
pdf = sqlContext.sql(Query).toPandas()
pdf.head()

SELECT station, year, coeff_2 FROM weather

       station    year    coeff_2
0  USC00011301  1964.0  74.711584
1  USC00018867  1964.0  74.711584
2  USC00018215  1964.0  74.711584
3  USC00019103  1964.0  74.711584
4  USC00017963  1964.0  74.711584

In [7]:
year_station_table=pdf.pivot(index='year', columns='station', values='coeff_2')
year_station_table.head(10)

station,US1ALMY0007,USC00010140,USC00010440,USC00010616,USC00011069,USC00011178,USC00011300,USC00011301,USC00011690,USC00012079,...,USC00018323,USC00018438,USC00018446,USC00018859,USC00018867,USC00019103,USC00221174,USW00013821,USW00013850,USW00013895
year,,,,,,,,,,,,,,,,,,,,,
1935.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.298190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1940.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1948.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.300486
1958.0,NaN,NaN,NaN,NaN,NaN,NaN,-1.351233,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.331662,NaN,NaN,...,NaN,NaN,NaN,-1.331662,NaN,NaN,NaN,NaN,NaN,-1.331662
1964.0,NaN,201.709339,125.710682,NaN,NaN,NaN,NaN,74.711584,201.709339,354.706634,...,NaN,NaN,201.709339,49.712025,74.711584,74.711584,NaN,NaN,NaN,23.712485
1968.0,NaN,NaN,NaN,-1.318527,-1.336586,-1.336586,NaN,-1.348501,-1.388079,-1.388079,...,-1.336586,NaN,-1.398702,NaN,-1.437591,NaN,-1.313785,0.170309,-1.328294,NaN
1973.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.417959
1977.0,NaN,NaN,NaN,NaN,-1.373954,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.451146
1987.0,NaN,NaN,-1.306399,NaN,NaN,NaN,NaN,-1.327590,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.306934

### Estimating the effect of the year vs the effect of the station

To estimate the effect of time vs. location on the first eigenvector coefficient we
compute:

* The average row: `mean-by-station`
* The average column: `mean-by-year`

We then compute the RMS before and after subtracting either  the row or the column vector.

In [8]:
def RMS(Mat):
    return np.sqrt(np.nanmean(Mat**2))

mean_by_year=np.nanmean(year_station_table,axis=1)
mean_by_station=np.nanmean(year_station_table,axis=0)
tbl_minus_year = (year_station_table.transpose()-mean_by_year).transpose()
tbl_minus_station = year_station_table-mean_by_station

print 'total RMS                   = ',RMS(year_station_table)
print 'RMS removing mean-by-station= ',RMS(tbl_minus_station)
print 'RMS removing mean-by-year   = ',RMS(tbl_minus_year)

total RMS                   =  73.6201876732
RMS removing mean-by-station=  47.1399999139
RMS removing mean-by-year   =  43.1485237401

In [9]:
T=year_station_table
print 'initial RMS=',RMS(T)
for i in range(5):
    mean_by_year=np.nanmean(T,axis=1)
    T=(T.transpose()-mean_by_year).transpose()
    print i,'after removing mean by year    =',RMS(T)
    mean_by_station=np.nanmean(T,axis=0)
    T=T-mean_by_station
    print i,'after removing mean by stations=',RMS(T)

initial RMS= 73.6201876732
0 after removing mean by year    = 43.1485237401
0 after removing mean by stations= 29.2817287902
1 after removing mean by year    = 28.5834340677
1 after removing mean by stations= 28.2196249259
2 after removing mean by year    = 28.0032494012
2 after removing mean by stations= 27.861632388
3 after removing mean by year    = 27.7630310959
3 after removing mean by stations= 27.6917717488
4 after removing mean by year    = 27.639132497
4 after removing mean by stations= 27.5997425172