## Computing PCA using RDDs

##  PCA

The vectors that we want to analyze have length, or dimension, of 365, corresponding to the number of 
days in a year.

We will perform [Principle component analysis (PCA)](https://en.wikipedia.org/wiki/Principal_component_analysis)
on these vectors. There are two steps to this process:

1. Computing the covariance matrix: this is a  simple computation. However, it takes a long time to compute and it benefits from using an RDD because it involves all of the input vectors.
2. Computing the eigenvector decomposition. this is a more complex computation, but it takes a fraction of a second because the size to the covariance matrix is $365 \times 365$, which is quite small. We do it on the head node usin `linalg`

### Computing the covariance matrix
Suppose that the data vectors are the column vectors denoted $x$ then the covariance matrix is defined to be
$$
E(x x^T)-E(x)E(x)^T
$$

Where $x x^T$ is the **outer product** of $x$ with itself.

If the data that we have is $x_1,x_2,x_n$ then the estimates we use are:
$$
\hat{E}(x x^T) = \frac{1}{n} \sum_{i=1}^n x_i x_i^T,\;\;\;\;\;
\hat{E}(x) = \frac{1}{n} \sum_{i=1}^n x_i
$$

### The effect of  `nan`s in arithmetic operations
* We use an RDD of numpy arrays, instead of Dataframes.
* Why? Because numpy treats `nan` entries correctly:
  * In numpy `5+nan=5` while in dataframes `5+nan=nan`

### Performing Cov matrix on vectors with NaNs
As it happens, we often get vectors $x$ in which some, but not all, of the entries are `nan`. 
Suppose that we want to compute the mean of the elements of $x$. If we use `np.mean` we will get the result `nan`. A useful alternative is to use `np.nanmean` which removes the `nan` elements and takes the mean of the rest.

import numpy as np
X=np.array([1,1,1,2])
print 'mean of',X,'=',np.mean(X)
print 'nanmean of',X,'=',np.nanmean(X)
X=np.array([1,1,np.NaN,2])
print 'mean of',X,'=',np.mean(X)
print 'nanmean of',X,'=',np.nanmean(X)

#### When should you not use `np.nanmean` ?
Using `n.nanmean` is equivalent to assuming that choice of which elements to remove is independent of the values of the elements. 
* Example of bad case: suppose the larger elements have a higher probability of being `nan`. In that case `np.nanmean` will under-estimate the mean

#### Computing the covariance  when there are `nan`s
The covariance is a mean of outer products.

If the data that we have is $x_1,x_2,x_n$ then the estimates we use are:
$$
\hat{E}(x x^T) = \frac{1}{n} \sum_{i=1}^n x_i x_i^T,\;\;\;\;\;
\hat{E}(x) = \frac{1}{n} \sum_{i=1}^n x_i
$$

x1=np.array([1,np.NaN,3,4,5])
x2=np.array([2,3,4,np.NaN,6])
stacked=np.array([np.outer(x1,x1),np.outer(x2,x2)])
stacked

np.nanmean(stacked,axis=0)

In [28]:
import findspark
findspark.init()
from pyspark import SparkContext

sc.stop()
sc = SparkContext(master="local[3]",pyFiles=['lib/numpy_pack.py','lib/spark_PCA.py','lib/computeStats.py'])

from pyspark.sql import *
sqlContext = SQLContext(sc)

In [29]:
import sys
sys.path.append('./lib')

import numpy as np
from numpy_pack import packArray,unpackArray
from spark_PCA import computeCov
from computeStats import computeOverAllDist, STAT_Descriptions

### Climate data

The data we will use here comes from [NOAA](https://www.ncdc.noaa.gov/). Specifically, it was downloaded from This [FTP site](ftp://ftp.ncdc.noaa.gov/pub/data/ghcn/daily/).

There is a large variety of measurements from all over the world, from 1870 will 2012.
in the directory `../../Data/Weather` you will find the following useful files:

* data-source.txt: the source of the data
* ghcnd-readme.txt: A description of the content and format of the data
* ghcnd-stations.txt: A table describing the Meteorological stations.

### Data cleaning

* Most measurements exists only for a tiny fraction of the stations and years. We therefor restrict our use to the following measurements:
```python
['TMAX', 'SNOW', 'SNWD', 'TMIN', 'PRCP', 'TOBS']
```

* 8 We consider only measurement-years that have at most 50 `NaN` entries

* We consider only measurements in the continential USA

* We partition the stations into 256 geographical rectangles, indexed from BBBBBBBB to SSSSSSSS. And each containing about 12,000 station,year pairs.

In [2]:
#file_index='BBBSBBBB'
file_index='SSSBBSSB'
data_dir='../../Data/Weather'

filebase='US_Weather_%s'%file_index

In [ ]:

!rm -rf $data_dir/$filebase*

In [5]:
c_filename=filebase+'.csv.gz'
u_filename=filebase+'.csv'

In [6]:

command="curl https://mas-dse-open.s3.amazonaws.com/Weather/small/%s > %s/%s"%(c_filename,data_dir,c_filename)
print command
!$command

curl https://mas-dse-open.s3.amazonaws.com/Weather/small/US_Weather_SSSBBSSB.csv.gz > ../../Data/Weather/US_Weather_SSSBBSSB.csv.gz
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 3302k  100 3302k    0     0  1423k      0  0:00:02  0:00:02 --:--:-- 1480k

In [7]:
!ls $data_dir/$c_filename

../../Data/Weather/US_Weather_SSSBBSSB.csv.gz

In [8]:
!ls -lh $data_dir/$c_filename

-rw-r--r--  1 toby  staff   3.2M May 15 20:20 ../../Data/Weather/US_Weather_SSSBBSSB.csv.gz

In [6]:
#unzip
!gunzip -c $data_dir/$c_filename > $data_dir/$u_filename

In [30]:
import pickle
List=pickle.load(open(data_dir+'/'+u_filename,'rb'))
len(List)

12433

In [31]:
df=sqlContext.createDataFrame(List)
print df.count()
df.show(6)

12433
+---------+--------+---------+-----------+-----------+------+--------------------+------+--------+
|elevation|latitude|longitude|measurement|    station|undefs|              vector|  year|   label|
+---------+--------+---------+-----------+-----------+------+--------------------+------+--------+
|   1731.9| 37.6833|-113.0833|       TMAX|USC00421272|     4|[80 4D 80 C9 00 0...|1907.0|SSSBBSSB|
|   1731.9| 37.6833|-113.0833|       TMAX|USC00421272|    29|[00 7E A0 53 00 C...|1911.0|SSSBBSSB|
|   1731.9| 37.6833|-113.0833|       TMAX|USC00421272|    18|[40 CC 40 4C 80 C...|1912.0|SSSBBSSB|
|   1731.9| 37.6833|-113.0833|       TMAX|USC00421272|    36|[40 56 A0 56 58 5...|1915.0|SSSBBSSB|
|   1731.9| 37.6833|-113.0833|       TMAX|USC00421272|    40|[20 50 30 54 30 5...|1916.0|SSSBBSSB|
|   1731.9| 37.6833|-113.0833|       TMAX|USC00421272|    38|[20 50 00 46 80 4...|1917.0|SSSBBSSB|
+---------+--------+---------+-----------+-----------+------+--------------------+------+--------+
only showing top 6 rows

In [11]:
#store dataframe as parquet file
outfilename=data_dir+'/'+filebase+'.parquet'
!rm -rf $outfilename
df.write.save(outfilename)

In [12]:
# Compare file sizes
!du -sh $data_dir/$filebase*

 12M	../../Data/Weather/US_Weather_SSSBBSSB.csv
3.2M	../../Data/Weather/US_Weather_SSSBBSSB.csv.gz
4.0M	../../Data/Weather/US_Weather_SSSBBSSB.parquet

In [13]:
from time import time
t=time()

N=sc.defaultParallelism
print 'Number of executors=',N
print 'took',time()-t,'seconds'

Number of executors= 3
took 0.00145602226257 seconds

In [14]:
measurements=['TMAX', 'SNOW', 'SNWD', 'TMIN', 'PRCP', 'TOBS']

In [32]:
sqlContext.registerDataFrameAsTable(df,'weather') #using older sqlContext instead of newer (V2.0) sparkSession

In [33]:
Query="SELECT * FROM weather\n\tWHERE measurement = 'SNWD'"
print Query
df = sqlContext.sql(Query)
alldf = df.toPandas()

SELECT * FROM weather
	WHERE measurement = 'SNWD'

37.272199999999998, 38.0, -115.16670000000001, -109.08280000000001)

In [34]:
Query="""SELECT station, elevation, latitude, longitude 
FROM weather\n\tWHERE
GROUP BY 
station,
elevation,
latitude, longitude
"""
print Query
df = sqlContext.sql(Query)
groupstation = df.toPandas()
groupstation

SELECT station, elevation, latitude, longitude
FROM weather
	WHERE
GROUP BY
station,
elevation,
latitude, longitude

        station  elevation  latitude  longitude
0   USS0013M05S     2819.4   37.5333  -113.0500
1   USS0012M05S     2377.4   37.4833  -112.5833
2   USC00422561     1569.7   37.7697  -113.6556
3   USC00427501     1587.7   38.0000  -113.4500
4   USC00260015     1684.0   37.5167  -114.1667
5   USS0012M23S     2987.0   37.5667  -112.8333
6   USR0000ASSA     2468.9   37.5167  -112.5556
7   USC00422597     1220.1   37.3167  -110.9000
8   USR0000ENTR     1627.6   37.5586  -113.7172
9   USC00423847     1833.1   37.5667  -112.0000
10  USC00423980     1219.2   37.8750  -110.3878
11  USC00420900     2977.9   37.6933  -112.8469
12  USS0011M06S     3048.0   37.9667  -111.8167
13  USC00421259     1856.2   37.7083  -113.1439
14  USC00425795     2068.1   37.7167  -109.0833
15  USR0000NIMM     1898.9   37.9214  -114.1597
16  USS0012M06S     2243.3   37.4833  -112.5167
17  USW00023177     1664.2   37.7981  -113.9256
18  USW00053004     1959.3   37.6011  -109.9886
19  USC00420400     2148.8   37.8667  -109.3667
20  USC00261358     1334.7   37.6128  -114.5264
21  USC00262562     1006.1   37.3167  -114.5000
22  USC00263671     1188.7   37.5581  -115.2236
23  USS0012M03S     2804.2   37.5833  -112.9000
24  USS0013M06S     2078.1   37.4833  -113.9333
25  USW00003081     1796.8   37.5175  -111.9775
26  USC00425025     1158.2   37.2833  -113.3000
27  USC00429136     1402.1   37.3522  -113.6664
28  USC00426170     1569.7   37.6667  -113.5500
29  USC00420738     1838.6   37.6131  -109.4847
..          ...        ...       ...        ...
69  USC00260099     -999.9   37.3667  -115.1667
70  USC00423976     1125.0   37.8667  -110.4000
71  USC00265950     1447.8   37.8000  -114.3833
72  USC00420849     2036.1   37.9050  -111.4200
73  USC00421162     1634.6   37.6661  -113.5422
74  USC00421272     1731.9   37.6833  -113.0833
75  USC00426874     1800.5   37.5500  -113.5167
76  USC00426534     1664.2   37.2722  -112.6389
77  USC00420757     3259.5   37.5928  -112.8639
78  USC00420086     2145.8   37.4403  -112.4819
79  USR0000NKAN     1399.0   37.2506  -114.7075
80  USR0000BARN     1679.4   37.6131  -111.4208
81  USC00421308     2060.4   37.7158  -109.0828
82  USC00262557     1042.4   37.3478  -114.5431
83  USC00421273     1830.0   37.6667  -113.0333
84  USC00422558     1621.5   37.5764  -113.7150
85  USC00425807     2159.8   37.8675  -109.3514
86  USC00424378     1585.0   37.9333  -113.6833
87  USC00421020     1164.9   37.5300  -110.7203
88  USC00422592     1770.9   37.7686  -111.5978
89  USC00424755     1769.4   37.5142  -111.9883
90  USR0000TOMB     2286.0   37.8167  -112.1167
91  USC00420157     1394.8   37.2558  -109.3292
92  USC00428456     1828.8   37.8006  -112.9328
93  USC00423506     1252.7   37.2806  -113.7283
94  USW00053012     1338.1   37.2667  -109.6075
95  USC00425805     2078.7   37.8736  -109.3075
96  USC00423776     2100.1   37.6478  -112.4331
97  USC00429514     2298.2   37.8747  -111.9731
98  USC00421006     2425.0   37.6333  -112.1833

[99 rows x 4 columns]

In [35]:
groupstation["station"].count()

99

In [36]:
Query="""SELECT station, year, vector 
FROM weather\n\tWHERE measurement = 'SNWD'
"""
print Query
df = sqlContext.sql(Query)
snwd = df.toPandas()
snwd

SELECT station, year, vector
FROM weather
	WHERE measurement = 'SNWD'

          station    year                                             vector
0     USC00421308  1961.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1     USC00421308  1966.0  [0, 126, 0, 126, 0, 126, 0, 126, 0, 126, 0, 12...
2     USC00421308  1967.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3     USC00421308  1968.0  [196, 92, 196, 92, 196, 92, 196, 92, 196, 92, ...
4     USC00421308  1969.0  [88, 90, 144, 89, 144, 89, 144, 89, 144, 89, 1...
5     USC00421308  1971.0  [0, 0, 0, 0, 240, 91, 240, 91, 240, 91, 240, 9...
6     USC00421308  1972.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
7     USC00421308  1975.0  [0, 126, 240, 87, 240, 87, 240, 87, 240, 87, 2...
8     USC00421308  1976.0  [192, 88, 192, 88, 192, 88, 192, 88, 192, 88, ...
9     USC00421308  1977.0  [64, 78, 0, 126, 88, 90, 88, 90, 92, 92, 240, ...
10    USC00421308  1980.0  [144, 93, 144, 93, 144, 93, 144, 93, 144, 93, ...
11    USC00421308  1981.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
12    USC00421308  1982.0  [192, 84, 240, 87, 0, 126, 192, 88, 144, 89, 0...
13    USC00421308  1983.0  [192, 88, 192, 88, 192, 88, 192, 88, 192, 88, ...
14    USC00421308  1985.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 240...
15    USC00421308  1986.0  [0, 126, 0, 126, 0, 126, 0, 126, 0, 126, 96, 8...
16    USC00421308  1987.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 64, 78, 64, 78,...
17    USC00421308  1988.0  [0, 126, 196, 92, 0, 126, 0, 126, 196, 92, 36,...
18    USC00421308  1989.0  [92, 92, 92, 92, 240, 91, 88, 90, 196, 92, 0, ...
19    USC00421308  1990.0  [0, 0, 0, 0, 0, 0, 96, 86, 0, 126, 0, 126, 64,...
20    USC00421308  1991.0  [196, 92, 0, 126, 240, 91, 240, 91, 94, 96, 36...
21    USC00421308  1992.0  [192, 88, 192, 88, 192, 88, 40, 91, 88, 90, 88...
22    USC00421308  1994.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
23    USC00421308  1996.0  [0, 0, 64, 78, 0, 126, 0, 126, 0, 126, 0, 126,...
24    USC00421308  1997.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 192, 84, 192, 8...
25    USC00421308  1998.0  [96, 86, 192, 84, 96, 82, 96, 82, 88, 90, 88, ...
26    USC00421308  1999.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
27    USC00421308  2000.0  [0, 0, 144, 89, 144, 89, 192, 88, 192, 88, 192...
28    USC00421308  2001.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
29    USC00421308  2002.0  [192, 88, 192, 88, 192, 88, 192, 88, 192, 88, ...
...           ...     ...                                                ...
1432  USC00428847  1968.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1433  USC00428847  1970.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1434  USC00428847  1972.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1435  USC00428847  1973.0  [240, 87, 96, 86, 96, 86, 240, 87, 240, 87, 96...
1436  USC00428847  1974.0  [192, 84, 96, 82, 96, 82, 96, 82, 40, 93, 196,...
1437  USC00428847  1976.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1438  USC00428847  1977.0  [0, 0, 0, 0, 192, 88, 64, 78, 0, 0, 0, 0, 0, 0...
1439  USC00428847  1978.0  [0, 0, 0, 0, 0, 0, 96, 82, 192, 84, 96, 86, 0,...
1440  USC00428847  1980.0  [0, 126, 0, 126, 0, 126, 0, 126, 0, 126, 0, 12...
1441  USC00428847  1981.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1442  USC00428847  1984.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1443  USC00428847  1987.0  [0, 0, 0, 0, 0, 0, 0, 0, 64, 78, 64, 78, 192, ...
1444  USC00428847  1988.0  [0, 126, 0, 126, 0, 126, 0, 126, 0, 126, 0, 12...
1445  USC00428847  1989.0  [88, 90, 88, 90, 144, 89, 96, 86, 92, 92, 144,...
1446  USC00428847  1990.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1447  USC00428847  1991.0  [192, 84, 192, 84, 192, 84, 40, 91, 144, 89, 9...
1448  USC00428847  1992.0  [0, 126, 0, 126, 0, 126, 0, 126, 0, 126, 96, 8...
1449  USC00428847  1993.0  [192, 88, 0, 126, 0, 126, 0, 126, 0, 126, 240,...
1450  USC00428847  1994.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1451  USC00428847  1996.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1452  USC00428847  1997.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1453  USC00260099  1949.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1454  USC00260099  1950.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1455  USC00260099  1951.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1456  USC00260099  1952.0  [0, 126, 0, 126, 0, 126, 0, 126, 0, 126, 0, 12...
1457  USC00260099  1953.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1458  USC00260099  1955.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1459  USC00260099  1956.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1460  USC00260099  1958.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1461  USC00260099  1959.0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

[1462 rows x 3 columns]

In [25]:
def c2f(c):
    return 9.0/5.0 * c + 32

def proc(t):
    year = t[0]
    x = t[1]
    x[np.isnan(x)] = 0
    return year, np.max(x) / 10

def maxval(t1, t2):
    max = t1[1]
    year_max = t1[0]
    x1 = t1[1]
    x2 = t2[1]
    
    if x1 >= x2:
        max = x1
        year_max = t1[0]
    else:
        max = x2
        year_max = t2[0]
        
    return year_max, max

meas='TMAX'
Query="SELECT * FROM weather\n\tWHERE measurement = '%s'"%(meas)
print Query
df = sqlContext.sql(Query)
data=df.rdd.map(lambda row: (row['year'], unpackArray(row['vector'],np.float16)))
data_filtered = data.map(proc)
print data_filtered.take(10)
maxvalrd = data_filtered.reduce(maxval)
print "Highest recorded temperature is {0} deg F in {1}".format(c2f(maxvalrd[1]), maxvalrd[0])

SELECT * FROM weather
	WHERE measurement = 'TMAX'

AnalysisException: u'Table or view not found: weather; line 1 pos 14'

In [37]:
def proc(t):
    year = t[0]
    x = t[1]
    x[np.isnan(x)] = 0
    return year, np.min(x) / 10

def minval(t1, t2):
    max = t1[1]
    year_min = t1[0]
    x1 = t1[1]
    x2 = t2[1]
    
    if x1 <= x2:
        max = x1
        year_min = t1[0]
    else:
        max = x2
        year_min = t2[0]
        
    return year_min, max

meas='TMIN'
Query="SELECT * FROM weather\n\tWHERE measurement = '%s'"%(meas)
print Query
df = sqlContext.sql(Query)
data=df.rdd.map(lambda row: (row['year'], unpackArray(row['vector'],np.float16)))
data_filtered = data.map(proc)
print data_filtered.take(10)
minvalrd = data_filtered.reduce(minval)
print minvalrd
print "Lowest recorded temperature is {0} deg F in {1}".format(c2f(minvalrd[1]), minvalrd[0])

SELECT * FROM weather
	WHERE measurement = 'TMIN'
[(1906.0, -16.100000000000001), (1907.0, -14.4), (1911.0, -18.899999999999999), (1912.0, -18.300000000000001), (1915.0, -20.600000000000001), (1917.0, -23.300000000000001), (1922.0, -23.899999999999999), (1923.0, -20.600000000000001), (1924.0, -18.899999999999999), (1925.0, -18.300000000000001)]
(1942.0, -25.0)
Lowest recorded temperature is -13.0 deg F in 1942.0

In [211]:
def proc(t):
    year = t[0]
    x = t[1]
    x[np.isnan(x)] = 0
    return year, np.max(x) / 10

def maxval(t1, t2):
    max = t1[1]
    year_max = t1[0]
    x1 = t1[1]
    x2 = t2[1]
    
    if x1 >= x2:
        max = x1
        year_max = t1[0]
    else:
        max = x2
        year_max = t2[0]
        
    return year_max, max

meas='SNWD'
Query="SELECT * FROM weather\n\tWHERE measurement = '%s'"%(meas)
print Query
df = sqlContext.sql(Query)
data=df.rdd.map(lambda row: (row['year'], unpackArray(row['vector'],np.float16)))
data_filtered = data.map(proc)
print data_filtered.take(10)
maxvalrd = data_filtered.reduce(maxval)
print "Strongest recorded snow activity is in {1} where snow-depth reached {0} inches".format(c2f(maxvalrd[1]), maxvalrd[0])

SELECT * FROM weather
	WHERE measurement = 'SNWD'
[(1961.0, 22.899999999999999), (1966.0, 22.899999999999999), (1967.0, 76.200000000000003), (1968.0, 30.5), (1969.0, 40.600000000000001), (1971.0, 50.799999999999997), (1972.0, 55.899999999999999), (1975.0, 27.899999999999999), (1976.0, 25.399999999999999), (1977.0, 30.5)]
Strongest recorded snow activity is in 1970.0 where snow-depth reached 342.86 inches

In [38]:
def proc(t):
    year = t[0]
    x = t[1]
    x[np.isnan(x)] = 0
    return year, np.max(x) / 10

def maxval(t1, t2):
    max = t1[1]
    year_max = t1[0]
    x1 = t1[1]
    x2 = t2[1]
    
    if x1 >= x2:
        max = x1
        year_max = t1[0]
    else:
        max = x2
        year_max = t2[0]
        
    return year_max, max

meas='PRCP'
Query="SELECT * FROM weather\n\tWHERE measurement = '%s'"%(meas)
print Query
df = sqlContext.sql(Query)
data=df.rdd.map(lambda row: (row['year'], unpackArray(row['vector'],np.float16)))
data_filtered = data.map(proc)
print data_filtered.take(10)
maxvalrd = data_filtered.reduce(maxval)
print "Strongest recorded rainfall is in {1} with staggering {0} inches".format(c2f(maxvalrd[1]), maxvalrd[0])

SELECT * FROM weather
	WHERE measurement = 'PRCP'
[(1950.0, 13.199999999999999), (1906.0, 37.799999999999997), (1907.0, 40.600000000000001), (1908.0, 44.200000000000003), (1912.0, 52.100000000000001), (1913.0, 20.300000000000001), (1916.0, 68.599999999999994), (1917.0, 39.399999999999999), (1919.0, 21.600000000000001), (1928.0, 30.5)]
Strongest recorded rainfall is in 2006.0 with staggering 166.82 inches

In [39]:
def proc(t):
    year = t[0]
    x = t[1]
    x[np.isnan(x)] = 0
    return year, x

def maxval(t1, t2):
    max = t1[1]
    year_max = t1[0]
    x1 = t1[1]
    x2 = t2[1]
    
    if x1 >= x2:
        max = x1
        year_max = t1[0]
    else:
        max = x2
        year_max = t2[0]
        
    return year_max, max

meas='SNWD'
Query="SELECT * FROM weather\n\tWHERE measurement = '%s'"%(meas)
print Query
df = sqlContext.sql(Query)
data=df.rdd.map(lambda row: (row['year'], unpackArray(row['vector'],np.float16)))
data_filtered = data.map(proc)
print data_filtered.take(10)
maxvalrd = data_filtered.reduce(maxval)
print "Strongest recorded snow activity is in {1} where snow-depth reached {0} inches".format(c2f(maxvalrd[1]), maxvalrd[0])

SELECT * FROM weather
	WHERE measurement = 'SNWD'
[(1961.0, array([   0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,  152.,
          0.,    0.,    0.,  127.,  127.,  127.,  102.,  102.,  102.,
        102.,   76.,   51.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,   76.,  152.,
        178.,  229.,    0.,  127.,   51.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,   25.,   51.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,  127.,   76.,   51.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.], dtype=float16)), (1966.0, array([   0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,  229.,
          0.,    0.,    0.,    0.,    0.], dtype=float16)), (1967.0, array([   0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,   51.,   51.,   51.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,  356.,  457.,  457.,
        559.,  711.,  762.,  762.,  610.,  533.,  508.,  508.,  457.,
        406.,  305.,  305.,  305.,  305.], dtype=float16)), (1968.0, array([ 305.,  305.,  305.,  305.,  305.,  305.,  305.,  305.,  305.,
        305.,  305.,  305.,  305.,  305.,  305.,  305.,  305.,  305.,
        305.,  305.,  305.,  305.,  305.,  305.,  305.,  305.,  305.,
        305.,  305.,    0.,    0.,  305.,    0.,    0.,    0.,    0.,
          0.,    0.,  305.,    0.,  254.,    0.,    0.,    0.,  305.,
        305.,  305.,  305.,  305.,  305.,  305.,  305.,    0.,    0.,
        254.,    0.,    0.,    0.,  203.,  178.,  178.,  152.,  127.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,   51.,   51.,   25.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,  102.,
         76.,   76.,  127.,  203.,  203.,  203.,  178.,  178.,  254.,
        305.,  254.,  254.,  203.,  203.], dtype=float16)), (1969.0, array([ 203.,  178.,  178.,  178.,  178.,  152.,  152.,  152.,  127.,
        127.,  127.,  102.,  102.,  102.,   76.,   76.,   76.,   76.,
        102.,    0.,    0.,    0.,    0.,    0.,  102.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,  127.,   76.,    0.,    0.,    0.,    0.,   76.,    0.,
          0.,  127.,  127.,  102.,  203.,  254.,  305.,  356.,  305.,
        305.,  254.,  254.,  254.,  254.,  381.,  381.,  305.,  406.,
        406.,  406.,  381.,  356.,  356.,  330.,  305.,  305.,  305.,
        305.,  305.,  305.,  305.,  279.,  279.,  254.,  203.,  203.,
        203.,  178.,  178.,  152.,  127.,  102.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,   25.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,   51.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.], dtype=float16)), (1971.0, array([   0.,    0.,  254.,  254.,  254.,  254.,  254.,  254.,  254.,
        229.,  203.,  178.,  152.,    0.,  127.,  127.,  102.,  102.,
         76.,   51.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,  229.,    0.,  127.,  127.,
        127.,  102.,  102.,   76.,   76.,   76.,   76.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,   51.,   25.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,  102.,  102.,  102.,  102.,  102.,   76.,
         76.,   76.,   76.,   76.,   76.,   76.,   76.,   76.,   76.,
         76.,   76.,  127.,  203.,  203.,  203.,  203.,  330.,  330.,
        330.,  330.,  356.,  356.,  508.,  457.,  483.,  483.,  483.,
        483.,  457.,  457.,  432.,  330.,  254.,  178.,  152.,    0.,
          0.,    0.,    0.,    0.,    0.], dtype=float16)), (1972.0, array([   0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,   51.,    0.,    0.,    0.,
          0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,    0.,
         51.,    0.,    0.,   51.,    0.,   76.,    0.,    0.,  203.,
        203.,  203.,  178.,  178.,  178.,  152.,  152.,  152.,  152.,
        127.,  102.,  102.,  102.,  102.,  254.,  229.,  229.,  254.,

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.collectAndServe.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 2 in stage 14.0 failed 1 times, most recent failure: Lost task 2.0 in stage 14.0 (TID 229, localhost, executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/Users/toby/s/spark-2.1.0-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 174, in main
    process()
  File "/Users/toby/s/spark-2.1.0-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 169, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/Users/toby/s/spark-2.1.0-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 268, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/Users/toby/s/spark-2.1.0-bin-hadoop2.7/python/pyspark/rdd.py", line 833, in func
    yield reduce(f, iterator, initial)
  File "<ipython-input-39-13805184d846>", line 13, in maxval
ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:193)
	at org.apache.spark.api.python.PythonRunner$$anon$1.<init>(PythonRDD.scala:234)
	at org.apache.spark.api.python.PythonRunner.compute(PythonRDD.scala:152)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:63)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:282)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	at java.lang.Thread.run(Thread.java:745)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1435)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1423)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1422)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1422)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:802)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1650)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1605)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1594)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:628)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1918)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1931)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1944)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1958)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1.apply(RDD.scala:935)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:362)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:934)
	at org.apache.spark.api.python.PythonRDD$.collectAndServe(PythonRDD.scala:453)
	at org.apache.spark.api.python.PythonRDD.collectAndServe(PythonRDD.scala)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:745)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/Users/toby/s/spark-2.1.0-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 174, in main
    process()
  File "/Users/toby/s/spark-2.1.0-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 169, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/Users/toby/s/spark-2.1.0-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 268, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/Users/toby/s/spark-2.1.0-bin-hadoop2.7/python/pyspark/rdd.py", line 833, in func
    yield reduce(f, iterator, initial)
  File "<ipython-input-39-13805184d846>", line 13, in maxval
ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:193)
	at org.apache.spark.api.python.PythonRunner$$anon$1.<init>(PythonRDD.scala:234)
	at org.apache.spark.api.python.PythonRunner.compute(PythonRDD.scala:152)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:63)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:99)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:282)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	... 1 more

In [40]:
from numpy import linalg as LA
STAT={}  # dictionary storing the statistics for each measurement
Clean_Tables={}

for meas in measurements:
    t=time()
    Query="SELECT * FROM weather\n\tWHERE measurement = '%s'"%(meas)
    print Query
    df = sqlContext.sql(Query)
    data=df.rdd.map(lambda row: unpackArray(row['vector'],np.float16))
    #get very basic statistics
    STAT[meas]=computeOverAllDist(data)   # Compute the statistics 

    # compute covariance matrix
    OUT=computeCov(data)

    #find PCA decomposition
    eigval,eigvec=LA.eig(OUT['Cov'])

    # collect all of the statistics in STAT[meas]
    STAT[meas]['eigval']=eigval
    STAT[meas]['eigvec']=eigvec
    STAT[meas].update(OUT)

    print 'time for',meas,'is',time()-t

SELECT * FROM weather
	WHERE measurement = 'TMAX'
shape of E= (365,) shape of NE= (365,)
time for TMAX is 20.4163279533
SELECT * FROM weather
	WHERE measurement = 'SNOW'
shape of E= (365,) shape of NE= (365,)
time for SNOW is 17.1124579906
SELECT * FROM weather
	WHERE measurement = 'SNWD'
shape of E= (365,) shape of NE= (365,)
time for SNWD is 13.2979488373
SELECT * FROM weather
	WHERE measurement = 'TMIN'
shape of E= (365,) shape of NE= (365,)
time for TMIN is 18.9574279785
SELECT * FROM weather
	WHERE measurement = 'PRCP'
shape of E= (365,) shape of NE= (365,)
time for PRCP is 21.5000188351
SELECT * FROM weather
	WHERE measurement = 'TOBS'
shape of E= (365,) shape of NE= (365,)
time for TOBS is 12.8827271461

In [41]:
STAT.keys()

['TMIN', 'TOBS', 'TMAX', 'SNOW', 'SNWD', 'PRCP']

In [42]:
STAT['TMAX']['eigvec'].shape

(365, 365)

In [43]:
from pickle import dump
filename=data_dir+'/STAT_%s.pickle'%file_index
dump((STAT,STAT_Descriptions),open(filename,'wb'))