## Analyze whether SNWD varies more from year to year or from place to place.

In [1]:
import pandas as pd
import numpy as np
import urllib
import math

In [2]:
import findspark
findspark.init()

from pyspark import SparkContext
#sc.stop()
sc = SparkContext(master="local[3]",pyFiles=['lib/numpy_pack.py','lib/spark_PCA.py','lib/computeStats.py'])

from pyspark import SparkContext
from pyspark.sql import *
sqlContext = SQLContext(sc)

In [3]:
import sys
sys.path.append('./lib')

import numpy as np
from numpy_pack import packArray,unpackArray
from spark_PCA import computeCov
from computeStats import computeOverAllDist, STAT_Descriptions

In [4]:
### Read the data frame from pickle file

data_dir='../../Data/Weather'
file_index='SBSSBSBB'
meas='SNWD'

from pickle import load

#read statistics
filename=data_dir+'/STAT_%s.pickle'%file_index
STAT,STAT_Descriptions = load(open(filename,'rb'))
print('keys from STAT=',STAT.keys())

#!ls -ld $data_dir/*.parquet

#read data
filename=data_dir+'/decon_%s_%s.parquet'%(file_index,meas)

df=sqlContext.read.parquet(filename)
print(df.count())
df.show(2)

('keys from STAT=', ['TMIN', 'TOBS', 'TMAX', 'SNOW', 'SNWD', 'PRCP'])
710
+-------------------+------------------+-------------------+---------+--------+--------+---------+-----------+-------------------+-------------------+-------------------+-------------------+-----------+-----------+------+--------------------+------+
|            coeff_1|           coeff_2|            coeff_3|elevation|   label|latitude|longitude|measurement|              res_1|              res_2|              res_3|           res_mean|    station|  total_var|undefs|              vector|  year|
+-------------------+------------------+-------------------+---------+--------+--------+---------+-----------+-------------------+-------------------+-------------------+-------------------+-----------+-----------+------+--------------------+------+
|-1878.4708578337422|232.81818128124905|-197.53695949174033|   1911.1|SBSSBSBB| 41.6628|-111.1861|       SNWD|0.09549059707354036|0.08159625628162587|0.07159393289397907|0.36510752410856223|USC00427165|1.0685013E7|     0|[C0 58 C0 58 C0 5...|2008.0|
| -4874.616752082362|-850.5230156914009| -142.7818928025592|   1505.7|SBSSBSBB| 41.2578|-111.8378|       SNWD|0.10211778542837495|0.07478332178827876| 0.0740129778214535| 0.6317401848573277|USC00426869|4.1891227E7|     0|[8C 5F 8C 5F C2 6...|1982.0|
+-------------------+------------------+-------------------+---------+--------+--------+---------+-----------+-------------------+-------------------+-------------------+-------------------+-----------+-----------+------+--------------------+------+
only showing top 2 rows

In [5]:
print df.columns

['coeff_1', 'coeff_2', 'coeff_3', 'elevation', 'label', 'latitude', 'longitude', 'measurement', 'res_1', 'res_2', 'res_3', 'res_mean', 'station', 'total_var', 'undefs', 'vector', 'year']

In [39]:
#extract longitude and latitude for each station
feature='coeff_1'
sqlContext.registerDataFrameAsTable(df,'weather')
#Features=', '.join(['coeff_1', 'coeff_2', 'coeff_3', 'elevation', 'latitude', 'longitude',\
#          'res_1', 'res_2', 'res_3', 'res_mean', 'year'])
Features='station, year, coeff_3'
Query="SELECT %s FROM weather"%Features
print(Query)
pdf = sqlContext.sql(Query).toPandas()
pdf.head()

SELECT station, year, coeff_3 FROM weather

       station    year      coeff_3
0  USC00427165  2008.0  -197.536959
1  USC00426869  1982.0  -142.781893
2  USC00426869  2010.0  -324.019349
3  USC00426869  1973.0  1364.208989
4  USC00426869  1971.0  1679.914945

In [40]:
year_station_table=pdf.pivot(index='year', columns='station', values='coeff_3')
year_station_table.head(10)

station,USC00100803,USC00103732,USC00105275,USC00106053,USC00107346,USC00107353,USC00420487,USC00420924,USC00420928,USC00421590,...,USC00427271,USC00427318,USC00428828,USC00428885,USC00429346,USC00429595,USC00480915,USW00024101,USW00024120,USW00024126
year,,,,,,,,,,,,,,,,,,,,,
1929.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-140.258860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1930.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1931.0,NaN,NaN,NaN,-168.280743,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-638.016128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1932.0,NaN,NaN,NaN,-66.068383,NaN,NaN,NaN,NaN,NaN,NaN,...,-339.164592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1933.0,NaN,NaN,NaN,-331.158161,NaN,NaN,NaN,NaN,NaN,NaN,...,-166.527622,-720.333907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1935.0,NaN,NaN,232.794966,-258.676637,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1936.0,NaN,NaN,1037.332703,-395.383078,NaN,NaN,NaN,NaN,NaN,NaN,...,-266.319656,-400.002222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1937.0,NaN,NaN,578.851496,-281.493711,NaN,NaN,NaN,NaN,NaN,NaN,...,-337.983009,-1266.614571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1938.0,NaN,NaN,1.975298,-154.894549,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1939.0,NaN,NaN,291.974538,144.860026,NaN,NaN,NaN,NaN,NaN,NaN,...,301.331765,260.137950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Estimating the effect of the year vs the effect of the station

To estimate the effect of time vs. location on the first eigenvector coefficient we
compute:

* The average row: `mean-by-station`
* The average column: `mean-by-year`

We then compute the RMS before and after subtracting either  the row or the column vector.

In [41]:
def RMS(Mat):
    return np.sqrt(np.nanmean(Mat**2))

mean_by_year=np.nanmean(year_station_table,axis=1)
mean_by_station=np.nanmean(year_station_table,axis=0)
print mean_by_station.shape
print mean_by_year.shape
print year_station_table.shape
tbl_minus_year = (year_station_table.transpose()-mean_by_year).transpose()
print tbl_minus_year.shape
tbl_minus_station = year_station_table-mean_by_station


print 'total RMS = ',RMS(year_station_table)
print 'RMS removing mean-by-station = ',RMS(tbl_minus_station),'fraction explained=', 1-RMS(tbl_minus_station)/RMS(year_station_table)
print 'RMS removing mean-by-year = ',RMS(tbl_minus_year),'fraction explained=', 1-RMS(tbl_minus_year)/RMS(year_station_table)

(40,)
(82,)
(82, 40)
(82, 40)
total RMS =  598.320831818
RMS removing mean-by-station =  545.039058008 fraction explained= 0.0890521789937
RMS removing mean-by-year =  393.790733512 fraction explained= 0.341840175755

In [26]:
T=year_station_table
print 'initial RMS=',RMS(T)
for i in range(5):
    mean_by_year=np.nanmean(T,axis=1)
    T=(T.transpose()-mean_by_year).transpose()
    print i,'after removing mean by year    =',RMS(T)
    mean_by_station=np.nanmean(T,axis=0)
    T=T-mean_by_station
    print i,'after removing mean by stations=',RMS(T)

initial RMS= 601.90862572
0 after removing mean by year    = 346.048423438
0 after removing mean by stations= 331.033017742
1 after removing mean by year    = 329.728050024
1 after removing mean by stations= 329.52247672
2 after removing mean by year    = 329.479740895
2 after removing mean by stations= 329.468656752
3 after removing mean by year    = 329.465154481
3 after removing mean by stations= 329.463861302
4 after removing mean by year    = 329.463330679
4 after removing mean by stations= 329.463098636